<div class="container-fluid m-3">
    <div class="input-group">
        <span class="input-group-text">Nome</span>
        <input type="text" class="form-control" #name />
    </div>

    <div class="input-group">
        <span class="input-group-text">Cognome</span>
        <input type="text" class="form-control" #surname />
    </div>

    <div class="input-group">
        <span class="input-group-text">Laurea</span>
        <input type="text" class="form-control" #major />
    </div>

    <div class="input-group">
        <span class="input-group-text">Assunto</span>
        <input type="checkbox" class="form-control" #employee />
    </div>

    <div class="input-group">
        <span class="input-group-text">Age</span>
        <input type="number" class="form-control" #age />
    </div>

    <div class="input-group">
        <span class="input-group-text">Sesso</span>
        <select class="form-control" #gender>
            <option value="male">Maschio</option>
            <option value="woman">Femmina</option>
        </select>
    </div>

    <div class="container-fluid text-center">
        <button class="btn-success" (click)="repo.addStudent(name, surname, major, employee, age, gender)">Crea studente</button>
    </div>
</div>

<h1 class="m-3">Elenco studenti corso full-stack:</h1>
<h4 class="mr-3 text-right"> Totale: {{ repo.findStudents().length }}, Età media: {{ repo.findAvrageAge() }} </h4>
<table class="table table-success table-striped-columns text-center">
    <thead>
        <th>Name</th>
        <th>Surname</th>
        <th>Age</th>
        <th>Gender</th>
    </thead>
    <tr *ngFor="let student of repo.findStudents()">
        <td> {{ student.name }} </td>
        <td> {{ student.surname }} </td>
        <td> {{ student.age }} </td>
        <td> {{ student.gender }} </td>
    </tr>
</table>